#countdown__timer{
    display: grid;
    grid-template-columns: repeat(4, 90px);
    padding: 10px 0;
}
.countdown__time--title{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.7;
    color: rgb(125, 135, 156);
    text-transform: uppercase;
}
.countdown__time{
    font-size: 20px;
    line-height: 1.3;
    color: var(--title-font-color);
    font-weight: 700;
}
