#newsletter{
    background-color: var(--bg-light-color);
    padding: 60px 0;
}
.input-group{
    justify-content: center;
}
.newsletter__title {
    font-size: 25px;
    font-weight: 600;
    color: var(--title-font-color);
    margin-bottom: 10px;
}
.newsletter__icon {
    font-size: 40px;
    margin-bottom: 10px;
    fill: var(--title-font-color);
}
.newsletter__form{
    border: 1px solid rgb(218, 225, 231);
    padding: 8px 12px;
    height: 40px;
    font-size: 15px;
    color: var(--title-font-color);
    border-radius: 5px;
    width: 400px;
    outline: none;
}
.subscribe__btn{
    font-weight: 600;
    background: var(--brand-color);
    transition: all 150ms ease-in-out 0s;
    line-height: 1;
    border: none;
    color: var(--white-color);
    height: 40px;
    font-size: 14px;
    border-radius: 0px 8px 8px 0px;
    padding: 0 25px;
    text-transform: uppercase;
}

/* media query */
@media only screen and (max-width: 767px){
    .newsletter__wrapper .input-group {
        flex-wrap: nowrap;
    }
}
@media only screen and (max-width: 425px){
    .newsletter__wrapper .input-group {
        flex-wrap: wrap;
    }
    .newsletter__wrapper .input-group>input.newsletter__form {
        border-radius: 6px;
        border-top-right-radius: 6px!important;
        border-bottom-right-radius: 6px!important;
    }
    button.subscribe__btn {
        margin-top: 10px;
        border-radius: 6px!important;
    }
}