.wishlist__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.transparent__btn{
    border: 1px solid var(--brand-color);
    transition: all 0.3s;
    color: var(--brand-color);
    padding: 8px 20px;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.3s;
}
.transparent__btn:hover{
    background-color: var(--brand-color);
    color: var(--white-color);
}
.empty__wishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}
    