.miniCart__header{
    padding: 20px 16px;
    border-bottom: 1px solid #f3f5f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.miniCart__header span{
    display: flex;
    align-items: center;
    line-height: 1;
    font-weight: 600;
    font-size: 16px;
}
.miniCart__header span svg{
    stroke-width: 0.5px;
    margin-right: 10px;
    font-size: 20px;
}
.miniCart__item {
    /* display: flex;
    align-items: center; */
    padding: 20px 16px;
    display: grid;
    grid-template-columns: 40px 1fr 1fr 40px;
    vertical-align: middle;
    align-items: center;
    border-bottom: 1px solid #f3f5f9;
}
.miniCart__product--details .product__sm--title{
    margin-bottom: 0;
}
.miniCart__thumbnail img{
    height: 120px;
}
.btn__cartItem--delete{
    background-color: var(--brand-color);
    border: none;
    height: 30px;
    width: 30px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    font-size: 15px;
}
.miniCart__container {
    height: 100%;
    overflow-y: auto;
}
.miniCart__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding: 20px 16px;
}
.checkout__btn,
.viewCart__btn{
    font-size: 14px;
    font-weight: 600;
    display: block;
    width: 100%;
    text-align: center;
}
.checkout__btn:link,
.checkout__btn:visited{
    border: 1px solid var(--brand-color);
    margin-bottom: 10px;
    background-color: var(--brand-color);
    color: var(--white-color);
    padding: 10px 0;
    border-radius: 5px;
}

.viewCart__btn:link,
.viewCart__btn:visited{
    border: 1px solid var(--brand-color);
    transition: all 0.3s;
    color: var(--brand-color);
    padding: 10px 0;
    border-radius: 5px;
}
.viewCart__btn:hover,
.viewCart__btn:active{
    background-color: var(--brand-color);
    color: var(--white-color);
    padding: 10px 0;
    border-radius: 5px;
    transition: all 0.3s;
}

/* empty cart */
.cart__empty--notification{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.empty__text{
    font-size: 14px;
    font-weight: 400;
    color: var(--text-muted);
    margin-top: 20px;
    text-align: center;
}